@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRoleService _RoleService

@{
    BTUser? appUser = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - TrackingBugs</title>

    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta name="description" content="Spruha -  Admin Panel HTML Dashboard Template">
    <meta name="author" content="Spruko Technologies Private Limited">
    <meta name="keywords"
          content="admin,dashboard,panel,bootstrap admin template,bootstrap dashboard,dashboard,themeforest admin dashboard,themeforest admin,themeforest dashboard,themeforest admin panel,themeforest admin template,themeforest admin dashboard,cool admin,it dashboard,admin design,dash templates,saas dashboard,dmin ui design">

    <!-- Favicon -->
    <link rel="icon" href="~/assets/img/brand/favicon.ico" type="image/x-icon" />

    <!-- Title -->
    <title> Spruha - Admin Panel HTML Dashboard Template</title>

    <!-- BOOTSTRAP CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- Icons css-->
    <link href="~/assets/plugins/web-fonts/icons.css" rel="stylesheet" />
    <link href="~/assets/plugins/web-fonts/font-awesome/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/plugins/web-fonts/plugin.css" rel="stylesheet" />

    <!-- STYLE CSS -->
    <link href="~/assets/css/style.css" rel="stylesheet" />

    <!-- Internal Jquery.Coutdown css-->
    <link href="~/assets/plugins/jquery-countdown/jquery.countdown.css" rel="stylesheet">

    <!-- Select2 css-->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Mutipleselect css-->
    <link rel="stylesheet" href="~/assets/plugins/multipleselect/multiple-select.css">

    <!-- DATA TABLE CSS -->
    <link href="~/assets/plugins/datatable/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <link href="~/assets/plugins/datatable/css/buttons.bootstrap5.min.css" rel="stylesheet">
    <link href="~/assets/plugins/datatable/css/responsive.bootstrap5.css" rel="stylesheet" />


    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>
<body class="ltr main-body leftmenu">

    <!-- Loader -->
    <div id="global-loader">
        <img src="~/assets/img/loader.svg" class="loader-img" alt="Loader">
    </div>
    <!-- End Loader -->
    <!-- Page -->
    <div class="page">
        <!--Main Header-->
        <div class="main-header side-header sticky">
            <div class="main-container container-fluid">
                <div class="main-header-left">
                    <a class="main-header-menu-icon" href="javascript:void(0)" id="mainSidebarToggle"><span></span></a>
                    <div class="hor-logo">
                        <a class="main-logo" href="index.html">
                            <img src="~/assets/img/brand/logo.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="~/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo-dark"
                                 alt="logo">
                        </a>
                    </div>
                </div>
                <div class="main-header-center">
                    <div class="responsive-logo">
                        <a href="index.html"><img src="~/assets/img/brand/logo.png" class="mobile-logo" alt="logo"></a>
                        <a href="index.html">
                            <img src="~/assets/img/brand/logo-light.png" class="mobile-logo-dark"
                                 alt="logo">
                        </a>
                    </div>
                    @* 				<div class="input-group">
                    <div class="input-group-btn search-panel">
                    <select class="form-control select2">
                    <option label="All categories">
                    </option>
                    <option value="IT Projects">
                    IT Projects
                    </option>
                    <option value="Business Case">
                    Business Case
                    </option>
                    <option value="Microsoft Project">
                    Microsoft Project
                    </option>
                    <option value="Risk Management">
                    Risk Management
                    </option>
                    <option value="Team Building">
                    Team Building
                    </option>
                    </select>
                    </div>
                    <input type="search" class="form-control rounded-0" placeholder="Search for anything...">
                    <button class="btn search-btn"><i class="fe fe-search"></i></button>
                    </div> *@
                </div>
                <div class="main-header-right">
                    <button class="navbar-toggler navresponsive-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fe fe-more-vertical header-icons navbar-toggler-icon"></i>
                    </button><!-- Navresponsive closed -->
                    <div class="navbar navbar-expand-lg  nav nav-item  navbar-nav-right responsive-navbar navbar-dark  ">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
                            <div class="d-flex order-lg-2 ms-auto">
                                <!-- Search -->
                                @* 							<div class="dropdown header-search">
                                <a class="nav-link icon header-search">
                                <i class="fe fe-search header-icons"></i>
                                </a>
                                <div class="dropdown-menu">
                                <div class="main-form-search p-2">
                                <div class="input-group">
                                <div class="input-group-btn search-panel">
                                <select class="form-control select2">
                                <option label="All categories">
                                </option>
                                <option value="IT Projects">
                                IT Projects
                                </option>
                                <option value="Business Case">
                                Business Case
                                </option>
                                <option value="Microsoft Project">
                                Microsoft Project
                                </option>
                                <option value="Risk Management">
                                Risk Management
                                </option>
                                <option value="Team Building">
                                Team Building
                                </option>
                                </select>
                                </div>
                                <input type="search" class="form-control"
                                placeholder="Search for anything...">
                                <button class="btn search-btn">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                width="20" height="20" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-search">
                                <circle cx="11" cy="11" r="8"></circle>
                                <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                                </svg>
                                </button>
                                </div>
                                </div>
                                </div>
                                </div> *@
                                <!-- Search -->
                                <!-- Theme-Layout -->
                                <div class="dropdown d-flex main-header-theme">
                                    <a class="nav-link icon layout-setting">
                                        <span class="dark-layout">
                                            <i class="fe fe-sun header-icons"></i>
                                        </span>
                                        <span class="light-layout">
                                            <i class="fe fe-moon header-icons"></i>
                                        </span>
                                    </a>
                                </div>
                                <!-- Theme-Layout -->
                                <!-- Full screen -->
                                <div class="dropdown ">
                                    <a class="nav-link icon full-screen-link">
                                        <i class="fe fe-maximize fullscreen-button fullscreen header-icons"></i>
                                        <i class="fe fe-minimize fullscreen-button exit-fullscreen header-icons"></i>
                                    </a>
                                </div>
                                <!-- Full screen -->
                                <!-- Notification -->
                                @* 							<div class="dropdown main-header-notification">
                                <a class="nav-link icon" href="">
                                <i class="fe fe-bell header-icons"></i>
                                <span class="badge bg-danger nav-link-badge">4</span>
                                </a>
                                <div class="dropdown-menu">
                                <div class="header-navheading">
                                <p class="main-notification-text">
                                You have 1 unread notification<span class="badge bg-pill bg-primary ms-3">View all</span>
                                </p>
                                </div>
                                <div class="main-notification-list">
                                <div class="media new">
                                <div class="main-img-user online">
                                <img alt="avatar"
                                src="~/assets/img/users/5.jpg">
                                </div>
                                <div class="media-body">
                                <p>
                                Congratulate <strong>Olivia James</strong> for New template
                                start
                                </p>
                                <span>Oct 15 12:32pm</span>
                                </div>
                                </div>
                                <div class="media">
                                <div class="main-img-user">
                                <img alt="avatar"
                                src="~/assets/img/users/2.jpg">
                                </div>
                                <div class="media-body">
                                <p><strong>Joshua Gray</strong> New Message Received</p>
                                <span>
                                Oct 13
                                02:56am
                                </span>
                                </div>
                                </div>
                                <div class="media">
                                <div class="main-img-user online">
                                <img alt="avatar"
                                src="~/assets/img/users/3.jpg">
                                </div>
                                <div class="media-body">
                                <p>
                                <strong>Elizabeth Lewis</strong> added new schedule realease
                                </p><span>
                                Oct
                                12 10:40pm
                                </span>
                                </div>
                                </div>
                                </div>
                                <div class="dropdown-footer">
                                <a href="javascript:void(0)">View All Notifications</a>
                                </div>
                                </div>
                                </div> *@
                                <!-- Notification -->
                                <!-- Messages -->
                                @* 							<div class="main-header-notification">
                                <a class="nav-link icon" href="chat.html">
                                <i class="fe fe-message-square header-icons"></i>
                                <span class="badge bg-success nav-link-badge">6</span>
                                </a>
                                </div> *@
                                <!-- Messages -->
                                <!-- Profile -->
                                <partial name="_LoginPartial" />
                            </div>
                            <!-- Profile -->
                            <!-- Sidebar -->
                            @* 							<div class="dropdown  header-settings">
                            <a href="javascript:void(0)" class="nav-link icon" data-bs-toggle="sidebar-right"
                            data-bs-target=".sidebar-right">
                            <i class="fe fe-align-right header-icons"></i>
                            </a>
                            </div> *@
                            <!-- Sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- End Main Header-->
        <!-- Sidemenu -->
        <div class="sticky">
            <div class="main-menu main-sidebar main-sidebar-sticky side-menu">
                <div class="main-sidebar-header main-container-1 active">
                    <div class="sidemenu-logo">
                        <a class="main-logo" href="index.html">
                            <img src="~/assets/img/brand/logo-light.png" class="header-brand-img desktop-logo" alt="logo">
                            <img src="~/assets/img/brand/icon-light.png" class="header-brand-img icon-logo" alt="logo">
                            <img src="~/assets/img/brand/logo.png" class="header-brand-img desktop-logo theme-logo" alt="logo">
                            <img src="~/assets/img/brand/icon.png" class="header-brand-img icon-logo theme-logo" alt="logo">
                        </a>
                    </div>
                    <div class="main-sidebar-body main-body-1">
                        <div class="slide-left disabled" id="slide-left"><i class="fe fe-chevron-left"></i></div>
                        <ul class="menu-nav nav">
                            <li class="nav-header"><span class="nav-label">Dashboard</span></li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Dashboard" asp-controller="Home">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="ti-home sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Home</span>
                                </a>
                            </li>
                            <li class="nav-item">

                                <a class="nav-link" asp-action="Details" asp-controller="Companies" asp-route-id="@appUser?.CompanyId">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="ti-home sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Company</span>
                                </a>

                                @if (User.IsInRole("Admin"))
                                {
                                    <ul class="nav-sub">
                                        <li><a asp-action="Create" asp-controller="Invites">Company Invite</a></li>
                                    </ul>
                                    
                                }
                            </li>
                            <li class="nav-item">
                                <a class="nav-link with-sub" href="javascript:void(0)">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="ti-wallet sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">
                                        Projects
                                    </span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                <ul class="nav-sub">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Projects</a></li>
                                    <li class="nav-sub-item"> <a class="nav-sub-link" asp-action="Create" asp-controller="Projects">New Project</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="Index" asp-controller="Projects">All Projects</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="UnassignedProjects" asp-controller="Projects">Unassigned Projects</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="ArchivedProjects" asp-controller="Projects">Archived Projects</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link with-sub" href="javascript:void(0)">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="ti-shopping-cart-full sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Tickets</span>
                                    <i class="angle fe fe-chevron-right"></i>
                                </a>
                                <ul class="nav-sub">
                                    <li class="side-menu-label1"><a href="javascript:void(0)">Tickets</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="Create" asp-controller="Tickets">New Ticket</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="Index" asp-controller="Tickets">All Tickets</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="UnassignedTickets" asp-controller="Tickets">Unassigned Tickets</a></li>
                                    <li class="nav-sub-item"><a class="nav-sub-link" asp-action="ArchivedTickets" asp-controller="Tickets">Archived Tickets</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" asp-action="Index" asp-controller="Notifications">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="ti-home sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">Notifications</span>
                                </a>
                            </li>
                            <li class="nav-header"><span class="nav-label">Landing</span></li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home">
                                    <span class="shape1"></span>
                                    <span class="shape2"></span>
                                    <i class="ti-layout sidemenu-icon menu-icon "></i>
                                    <span class="sidemenu-label">LandingPage</span>
                                </a>
                            </li>
                        </ul>
                        <div class="slide-right" id="slide-right"><i class="fe fe-chevron-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Sidemenu -->
        <div class="main-content side-content pt-0">
            <main role="main" class="pb-3 main-container container-fluid">
                @RenderBody()
            </main>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - TrackingBugs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Jquery js-->
    <script src="~/assets/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/plugins/bootstrap/js/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    <!-- Internal Chart.Bundle js-->
    <script src="~/assets/plugins/chart.js/Chart.bundle.min.js"></script>

    <!-- Peity js-->
    <script src="~/assets/plugins/peity/jquery.peity.min.js"></script>

    <!-- Select2 js-->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!-- Perfect-scrollbar js -->
    <script src="~/assets/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>

    <!-- Sidemenu js -->
    <script src="~/assets/plugins/sidemenu/sidemenu.js"></script>

    <!-- Sidebar js -->
    <script src="~/assets/plugins/sidebar/sidebar.js"></script>

    <!-- Internal Morris js -->
    <script src="~/assets/plugins/raphael/raphael.min.js"></script>
    <script src="~/assets/plugins/morris.js/morris.min.js"></script>

    <!-- Circle Progress js-->
    <script src="~/assets/js/circle-progress.min.js"></script>
    <script src="~/assets/js/chart-circle.js"></script>

    <!-- Internal Dashboard js-->
    <script src="~/assets/js/index.js"></script>

    <!-- Color Theme js -->
    <script src="~/assets/js/themeColors.js"></script>

    <!-- Sticky js -->
    <script src="~/assets/js/sticky.js"></script>

    <!-- Internal Darggable js-->
    <script src="~/assets/plugins/darggable/jquery-ui-darggable.min.js"></script>
    <script src="~/assets/plugins/darggable/darggable.js"></script>

    <!-- Internal Data Table js -->
    <script src="~/assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.bootstrap5.js"></script>
    <script src="~/assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.bootstrap5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/pdfmake.min.js"></script>
    <script src="~/assets/plugins/datatable/pdfmake/vfs_fonts.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="~/assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="~/assets/plugins/datatable/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatable/responsive.bootstrap5.min.js"></script>
    <script src="~/assets/js/table-data.js"></script>
    <script src="~/assets/js/select2.js"></script>


    <!-- Custom js -->
    <script src="~/assets/js/custom.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
