@using Microsoft.AspNetCore.Identity
@inject SignInManager<BTUser> SignInManager
@inject UserManager<BTUser> UserManager
@inject IBTRoleService _RoleService
@inject IBTFileService _BTFileService

@{
    BTUser? appUser = await UserManager.GetUserAsync(User);
}

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown main-profile-menu">
            <a class="d-flex" href="javascript:void(0)">
                <span class="main-img-user">
                    <img alt="avatar"
                         src="@_BTFileService.ConvertByteArrayToFile(appUser.ImageFileData,appUser.ImageFileType, DefaultImage.BTUserImage)">
                </span>
            </a>
            <div class="dropdown-menu">
                <div class="header-navheading">
                        @appUser?.FullName
                </div>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
